@model IEnumerable<MovieProjectAssignment.Models.Movie>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="btn btn-default" style="margin: 5px;">
            @Html.Partial("_DisplayMovie", item)
        </div>
    </div>
}