
@model MovieProjectAssignment.Models.Movie

<table>
    <tr>
        <th>
            <p>Title: @Model.Title</p>
        </th>
    </tr>
    <tr>
        <th>
            <p>Director: @Model.Director</p> 
        </th>
    </tr>
    <tr>
        <th>
            <p>Release Year: @Model.ReleaseYear</p>
        </th>
    </tr>
    <tr>
        <th>
            <p>Price: @Model.Price</p>
        </th>
    </tr>
</table>

